{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Formulario de Registro</title>
</head>

<body>
    <form method="post" enctype='multipart/form-data'>
        {% csrf_token %}
        <section class="form-register">
            <img src="{% static 'img/logos.svg' %}" alt="">
            <h3>Fomulario de registro del Portal de Matemática</h3>
            <h4>2021</h4>
            <p>Debes elegir la modalidad en la que deseas recibir el programa Portal de Matemática</p>
            <div class="modalidad">
                {% for m in modalidad %}
                <label for="{{ m.id }}">
                    <input type="radio" name="modalidad" id="{{ m.id }}" value="{{ m.id }}">
                    {{ m.get_nombre_display }}
                </label>
                {% endfor %}
            </div>
            <div class="user_names">
                <input class="controls" type="Text" style="text-transform:uppercase;" value=""
                    onkeyup="javascript:this.value=this.value.toUpperCase();" name="primer_nombre" id="primer_nombre"
                    placeholder="Ingrese el primer nombre estudiante">
                <br>
                <input class="controls" type="Text" style="text-transform:uppercase;" value=""
                    onkeyup="javascript:this.value=this.value.toUpperCase();" name="segundo_nombre" id="segundo_nombre"
                    placeholder="Ingrese el segundo nombre estudiante">
                <br>
                <input class="controls" type="Text" style="text-transform:uppercase;" value=""
                    onkeyup="javascript:this.value=this.value.toUpperCase();" name="primer_apellido"
                    id="primer_apellido" placeholder="Ingrese el primer apellido estudiante">
                <br>
                <input class="controls" type="Text" style="text-transform:uppercase;" value=""
                    onkeyup="javascript:this.value=this.value.toUpperCase();" name="segundo_apellido"
                    id="segundo_apellido" placeholder="Ingrese el segundo apellido estudiante">
            </div>
            <br>
            <div class="birthdate">
                <label for="birthdate">Fecha de nacimiento:</label> <input type="date" name="birthdate" id="birthdate">
            </div>

            <div class="informations">
                <input class="controls" type="email" style="text-transform:uppercase;" name="email_usuario"
                    id="email_usuario" placeholder="Ingrese el correo electrónico estudiante">
                <input class="controls" type="number" style="text-transform:uppercase;" name="telefono_usuario"
                    id="telefono_usuario" placeholder="Número de teléfono del estudiante">
                <input class="controls" type="text" style="text-transform:uppercase;" value=""
                    onkeyup="javascript:this.value=this.value.toUpperCase();" name="nombre_colegio" id="nombre_colegio"
                    placeholder="Nombre del colegio donde estudiante">
                <input class="controls" type="text" style="text-transform:uppercase;" value=""
                    onkeyup="javascript:this.value=this.value.toUpperCase();" name="nombre_tutor" id="nombre_tutor"
                    placeholder="Nombre del padre o tutor del estudiante">
                <input class="controls" type="number" style="text-transform:uppercase;" name="telefono_tutor"
                    id="telefono_tutor" placeholder="Número de teléfono del tutor">
            </div>

            <div class="anio_estudio">
                <p>Año de estudio actual</p>
                <select class="anyo" name="anyo_estudio" id="anyo_estudio">
                    <option value="">Elige una opción</option>
                    {% for anyo_estudio in anyos_estudio %}
                    <option value="{{ anyo_estudio.0 }}">{{ anyo_estudio.1 }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="continuidad">
                <p>¿En qué universidad deseas continuar tus estudios?</p>
                <label><input class="checkbox" type="checkbox" name="universidad_uni" id="universidad_uni"> Universidad
                    Nacional de Ingeniería</label>
                <br>
                <label><input class="checkbox" type="checkbox" name="universidad_unan_managua"
                        id="universidad_unan_managua"> Universidad Autónoma de Nicaragua Managua</label>
                <br>
                <label><input class="checkbox" type="checkbox" name="universidad_unan_leon" id="universidad_unan_leon">
                    Universidad Autónoma de Nicaragua León</label>
                <br>
                <label><input class="checkbox" type="checkbox" name="universidad_una" id="universidad_una"> Universidad
                    Agraria</label>
            </div>

            <div class="sede">
                <label>Sede del Portal </label>
                <br>
                <select name="sede" id="sede">
                    <option value="">Elige una opción</option>
                    {% for sede in sedes %}
                    <option value="{{sede.id}}">{{ sede.nombre }} ({{ sede.siglas }})</option>
                    {% endfor %}
                </select>
            </div>

            <div class="horarios">
                <label>Elige el horario de clases</label>
                <select class="p_horarios" name="p_horarios" id="p_horarios">
                    <option value="">Elige una opción</option>
                    {% for horario in horarios %}
                    <option value="{{ horario.id }}">{{ horario }}</option>
                    {% endfor %}
                </select>
            </div>

            <h5>Archivos adjuntos para matrícula</h5>
            <div id="foto_carnet">
                <label for="foto_carnet">Foto tamaño carnet</label>
                <br>
                <input type="file" name="foto_carnet" id="foto_carnet">
            </div>

            <div id="foto_cedula">
                <label for="cedula_partida">Fotocopia de cédula o partica de nacimiento</label>
                <br>
                <input type="file" name="cedula_partida" id="cedula_partida">
            </div>

            <div id="certificado">
                <label for="cert_quinto">Fotocopia del certificado de quinto o diploma de Bachiller</label>
                <br>
                <input type="file" name="certificado" id="certificado">
            </div>

            <button type="submit" class="register">Resgistar</button>

        </section>
    </form>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>